<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919481446476-755o0ki674j8256j6f45huo1o0tu3ht4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919481446476-755o0ki674j8256j6f45huo1o0tu3ht4</string>
	<key>API_KEY</key>
	<string>AIzaSyC9t4uwzPF73ZMTjK3WY6cLnXAsirkkamc</string>
	<key>GCM_SENDER_ID</key>
	<string>919481446476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bostonhacks.chicken</string>
	<key>PROJECT_ID</key>
	<string>bostonhacks2019-day-of</string>
	<key>STORAGE_BUCKET</key>
	<string>bostonhacks2019-day-of.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919481446476:ios:e647737ecc3ecc430fc4e9</string>
	<key>DATABASE_URL</key>
	<string>https://bostonhacks2019-day-of.firebaseio.com</string>
</dict>
</plist>